@font-face {
    font-family: 'dana';
    src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/Dana/DanaVF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/Dana/DanaVF.woff2') format('woff2');
    font-weight: 100 900;
    font-display: fallback;
}
@font-face {
    font-family: 'dana';
    src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/Dana/DanaVF.ttf') format('truetype-variations'),
    url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/Dana/DanaVF.ttf') format('truetype');
    font-weight: 100 900;
    font-display: fallback;
}
