@font-face {
    font-family: 'iransans';
    src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.woff') format('woff-variations'),
    url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.woff') format('woff');
    font-weight: 100 900;
    font-display: fallback;
}
@font-face {
    font-family: 'iransans';
    src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.woff2') format('woff2');
    font-weight: 100 900;
    font-display: fallback;
}
@font-face {
    font-family: 'iransans';
    src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.ttf') format('truetype-variations'),
    url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranSans/IRANSansXV.ttf') format('truetype');
    font-weight: 100 900;
    font-display: fallback;
}
