@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebboldfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebboldfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebthinfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebthinfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanweblightfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanweblightfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebregularfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebregularfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebmediumfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebmediumfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebextraboldfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebextraboldfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebblackfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebblackfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebblackfanum.woff') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebextrablackfanum.eot');
	src: url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebextrablackfanum.woff') format('woff'),
		 url('https://cdn.jsdelivr.net/gh/chaveamin/fonts/IranYekan/woff/iranyekanwebextrablackfanum.ttf') format('truetype');
}
